*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color1: #000000;
    --color2: #9b260967;
    --color3: #7a0101;
    --color4: #aa8200;
    --color5: #c0c0c0;
}

body{
    background-color: #270303;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    color: var(--color5);
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    
}
